@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Luckiest+Guy&display=swap');
/*Desktop view ------------------------------------------------------------------*/
/* All pages Desktop Pages - This set of CSS applies to each page, for the CSS specific to each page find the comment for that page -----------------------------------------------------------*/
html *{
	border: 0;
	margin: 0;
}
.wrapper{
  width:100%;
  margin-right:auto;
  margin-left:auto;
  background-color:#ebeef2;
}
img{
  width:100%;
  height:100%;
	background-color: lightgray;
}
header{
	grid-area: header;
  background-color:#223A59;
  padding:25px 0px 10px 0px;
}
header a{
  text-decoration:none;
}
header h1{
  margin-left:25px;
  color:#F2A679;
  padding-bottom:25px;
  font-size:3em;
  font-family:'Luckiest Guy', cursive;
  font-weight:800;
}
nav{
	text-align: left;
	padding: 25px;
  background-color:#6394BF;
  border-top:solid thin #EBEEF2;
  border-bottom:solid thick #EBEEF2;
}

nav a{
	margin-right: 25px;
	padding-right: 10px;
	border-right: thin solid #EBEEF2;
  text-decoration:none;
  color:#EBEEF2;
  font-weight:bold;
  font-size:18pt;
  font-family:'Indie Flower', cursive;
   -webkit-transition: color 1s border-right 1s; /* Safari prior 6.1 */
  transition: color 1s border-right 1s;
}
nav a:hover{
  color:#F2A679;
  border-right: solid thin #F2A679;
}

p{
   font-size: 16pt;
  line-height: 125%;
}
h1, h2, h3{
  margin-bottom: 8px;
}

.socialMedia svg{
 margin-right: 50px;
}
.socialMedia{
  margin-top:10px;
  padding:5px 0px;
  text-align:center;
  margin-bottom: 20px;
  background-color:#6394BF;
  border-top:solid thin #EBEEF2;
  border-bottom:solid thin #EBEEF2;
}

footer{
  grid-area:footer;
  background-color:#223A59;
  padding-top:0px;
  color:#F2A679;
}

footer p{
	margin-top: 15px;
  margin-left:25px;
}
footer a{
  color:#F2A679;
  text-decoration:none;
}
footer a:hover{
  color:#ebeef2;
}
/*Index CSS for Desktop View--------------------------------------------------------*/
.indexContainer{
  display:grid;
  grid-gap:25px;
  grid-template-areas:
    'header header'
    'text1 image1'
    'image2 image3'
    'text2 text3'
    'footer footer';
  overflow:hidden;
  align-content:center;
  justify-content:center;
  }
.giftMessage{
  grid-area:text1;
  Margin-left:25px;
}
.familyPet{
  grid-area:image1;
  margin:0px 25px;
}
.adoptImage{
  grid-area:image2;
  margin-left:25px;
}
.adoptPet{
  grid-area:text2;
  margin-left:25px;
}
.wishList{
  grid-area:text3;
  margin-right:25px;
}
.wishImage{
  grid-area:image3;
  margin-right:25px;
}
.giftMessage p{
  line-height:150%;
}
/*Adopt Page CSS Desktop View ----------------------------------*/
.adoptContainer{
  display:grid;
  grid-gap:50px;
  grid-template-areas:
    'header header'
    'text1 text1'
    'image1 image2'
    'image3 image4'
    'footer footer';
  overflow:hidden;
}
.adoptableMessage{
  grid-area:text1;
  padding:0px 25px;
}
.petImage1{
  grid-area:image1;
  padding:25px 25px;
}
.petImage2{
  grid-area:image2;
  padding:25px 25px;
}
.petImage3{
  grid-area:image3;
  padding:25px 25px;
}
.petImage4{
  grid-area:image4;
  padding:25px 25px;
}
.adoptContainer h3{
  font-size:2.5em;
  margin: -17% 0% 0% 2%;
  color:white;
  text-shadow:1px 1px 1px black;
}
/*Wish List Page Desktop View -------------------*/
.wishContainer{
  display:grid;
  grid-gap:25px;
  grid-template-areas:
  'header header'
  'text image'
'lists lists'
'footer footer';
overflow:hidden;
justify-content:center;
  align-content:center;
}
.wishMessage{
  grid-area:text;
  margin:0px 25px 0px 25px;
}
.donateImage{
  grid-area:image;
  clip-path: inset(70px 0px 10px 0px);
  margin-top:-20%;
  margin-right:25px;
}
.lists{
  display:grid;
  grid-area:lists;
  grid-template-columns: .15fr .35fr .35fr .15fr;
  grid-gap:20px;
}
.list1{
 grid-column: 2;
  line-height:150%;
}
.list2{
  grid-column:3;
  line-height:150%;
}
.wishMessage p{
  line-height:150%;
  }
/*Donate Page Desktop View CSS -------------------------------*/
.donateContainer{
  display:grid;
  grid-gap:25px;
  grid-template-areas:
    'header header'
    'text image'
    'form form'
    'footer footer';
  overflow:hidden;
  justify-content:center;
  align-content:center;
}
.donations{
  grid-area:text;
  margin-left:25px;
}
.familyDog{
  grid-area:image;
  top-margin:-150px;
  margin-right:25px;
  clip-path: inset(150px 0px 0px 0px);
}
.donateForm{
  grid-area:form;
  margin-left:25px;
  margin-right:25px;
}
#form1{
  display:grid;
  grid-template-areas:
    'amount type name'
    'address address address'
    'address2 address2 address2'
    'email email email'
    'payment payment payment'
    'buttons buttons buttons';
  line-height:200%;
  font-size:14pt;
}
.amount{
  grid-area:amount;
  margin-right:50px;
}
.type{
  grid-area:type;
}
.name{
  grid-area:name;
}
.email{
  grid-area:email;
}
.address{
  grid-area:address;
}
.address2{
  grid-area:address2;
}
.payment{
  grid-area:payment;
}
.buttons{
  grid-area:buttons;
  text-align:right;
}
#textfield, #textfield2, #textfield3, #textfield6{
  width:100%;
    height:30px;
  margin-bottom:25px;
  margin-right:25px;
}
#email{
  width:100%;
  height:30px;
  margin-right:25px;
  margin-bottom:25px;
}
#textfield4{
  width:10%;
  height:30px;
  margin-right:25px;
  margin-bottom:25px;
}
#textfield5{
  width:27%;
  height:30px;
  margin-right:25px;
  margin-bottom:25px;
}
#textfield7{
  width:30%;
  height:30px;
  margin-right:25px;
  margin-bottom:25px;
}
#textfield8{
  width:30%;
  height:30px;
  margin-right:25px;
  margin-bottom:25px;
}
#submit{
  width:150px;
  height:50px;
  background-color:#6394BF;
  color:#EBEEF2;
  border-radius:5px;
  border: solid thin #4a83b5;
  margin-left:25px;
}
#submit:hover{
  background-color:#F2A679;
  border: solid thin #ef925d;
}
#reset{
  width:150px;
  height:30px;
  background-color:#223A59;
  color:#EBEEF2;
  border-radius:5px;
  border: solid thin #152437;
}
#reset:hover{
  background-color:#6394BF;
  border: solid thin #4a83b5;
}
/*Tablets View ---------------------------------------------------------------------*/
/* Medium devices (landscape tablets, 768px and less) */
@media screen and (max-width: 768px){
  /*Index CSS Tablet View ----------------------*/
  
/*Adopt Page CSS Tablet View ----------------------*/
  .adoptContainer h3{
    margin-top:-23%;
  }
  /*Wish List page Tablet View -------------*/
  .donateImage{
    clip-path: inset(60px 0px 10px 0px);
  }
  /*Donate Page Tablet View CSS -----------------*/
  #form1{
    display:grid;
    grid-template-areas:
      'amount type'
      'name name'
      'address address'
      'address2 address2'
      'email email'
      'payment payment'
      'buttons buttons';
  }
}
/* Mobile View (phones, 600px and down) ---------------------------------------------- */
@media screen and (max-width: 600px){
  /*All pages CSS Mobile View ----------------------*/
  hi, h2, h3,{
    margin-bottom:5px;
  }
  .socialMedia svg{
    margin-right:20px;
  }
  nav a{
    margin-right:10px;
    padding-right:5px;
    font-size:11pt;
  }
 
  /*Index Page Mobile View ---------------------------*/
  .indexContainer{
    display:grid;
    grid-template-areas:
      'header'
      'text1'
      'image1'
      'image2'
      'text2'
      'image3'
      'text3'
      'footer';
  }
  .familyPet{
    display:none;
  }
  .giftMessage{
    margin: 0px 15px;
  }
  .giftMessage p{
    line-height:130%;
  }
  .adoptImage{
    width:100%;
    margin:0px;
  }
  .adoptPet{
    margin: 0px 15px;
  }
  .wishImage{
    width:100%;
    margin:0px;
  }
  .wishList{
    margin:0px 15px;
  }
  .header h1{
    margin:0px;
    text-align:center;
  }
/*Adopt Page CSS Mobile View --------------------------*/
  .adoptContainer{
    display:grid;
    grid-template-areas:
      'header'
      'text1'
      'image1'
      'image2'
      'image3'
      'image4'
      'footer';
    grid-gap:25px;
  }
  .adoptContainer h3{
   margin:-25% 0% 0% 5%;
    text-align:center;
  }
  .petImage1 {
    padding:0px;
  }
  .petImage2{
    padding:0px;
  }
  .petImage3{
    padding:0px;
  }
  .petImage4{
    padding:0px;
  }
  /*Wish List Page Mobile View CSS ---------------------*/
  .wishContainer{
    display:grid;
    grid-template-areas:
      'header'
      'text'
      'lists'
      'lists'
      'footer';
    }
  .wishMessage{
    margin:0px 15px 0px 15px;
  }
  .donateImage{
    display:none;
  }
  .lists{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: .25fr .25fr;
  }
  .list1{
    grid-area: 1/1;
  }
  .list2{
    grid-area: 2/1;
  }
  /*Donate Page Mobile View -----------------------*/
  .donateContainer{
    display:grid;
    grid-template-areas:
      'header'
      'text'
      'form'
      'footer';
  }
  .familyDog{
    display:none;
  }
  .donations{
   margin-right:15px;
    margin-left:15px;
  }
  #form1{
    display:grid;
    grid-template-areas:
      'amount'
      'type'
      'name'
      'address'
      'address2'
      'email'
      'payment'
      'buttons';
  }
  #textfield4, #textfield5, #textfield7{
    width:100%;
  }
  #email{
    width:100%;
  }
  .buttons{
    text-align:center;
  }
  }


